.boardCss {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
}

.columns {
    display: grid;
    background-color: bisque;
}

.itemHight {
    min-height: 100px;
    width: 100px;
    background-color: aquamarine;
}


.each-column {
 
    background-color: bisque;
}

.dragg {
    background-color: blue;
    width: 100px;
}

.purtDroppable {
    background-color: blueviolet;
}